
.landing-page {
    position: relative;
    height: 150vh;
    background-image: url('./Assets/background-image.jpg');
    border: solid black 0.5rem;
    background-size:cover; 
    background-attachment: scroll;
    transition: background-color 0.3s;
  }
  
  
  .welcome-heading {
    font-size: 3rem;
color: rgba(0, 0, 0, 0.619);
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  }
  
  .button {
    padding: 10px 20px;
    background-color: rgba(87, 3, 3, 0.866);
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
  
  }
  .button:hover  {
    background-color: white;
    color: black;

  }
 

  .background-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: -1;
    transition: filter 0.3s ease;

  }
  
  .content {
    position: absolute;
    text-align: center;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  filter: blur(0px);

  }


  

 
  .glow {
    color: #fff;
    text-shadow: black;
    text-align: center;
   
  }
  
  @media (max-width: 768px) {
    .welcome-heading {
      font-size: 2.5rem;
      white-space: pre-wrap;
    }
  }