/* Reset default styles for the navbar */
/* Style the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the logo */
.logo {
  font-size: 2rem;
  color: whitesmoke;
  text-decoration: none;
  flex: left;
}

/* Style the navigation links */
.nav-links li {
  display: inline-block;
  padding: 0px 30px;
}

.nav-links li a {
  color: rgb(245, 233, 211);
  text-decoration: none;
}

.nav-links li a:hover {
  color: whitesmoke;
}

/* Media queries for responsiveness */
@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    width: 100%;
    padding: 10px 0;
  }

  .nav-links li a {
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  .logo {
    margin-bottom: 10px;
  }

  .menu-icon {
    font-size: 1.5rem;
    color: whitesmoke;
    cursor: pointer;
    margin-right: 10px;
  }
}
